acvl_utils==0.2
batchgenerators==0.25
causal-conv1d==1.4.0
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.7
cmake==3.25.0
connected-components-3d==3.18.0
contourpy==1.3.0
cycler==0.12.1
Deprecated==1.2.14
dicom2nifti==2.4.11
dynamic_network_architectures==0.3.1
einops==0.8.0
filelock==3.13.1
fonttools==4.53.1
fsspec==2024.9.0
future==1.0.0
graphviz==0.20.3
huggingface-hub==0.24.7
humanize==4.11.0
idna==3.4
imagecodecs==2024.6.1
imageio==2.35.1
Jinja2==3.1.3
joblib==1.4.2
kiwisolver==1.4.7
lazy_loader==0.4
linecache2==1.0.0
lit==15.0.7
mamba-ssm==2.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
MedPy==0.5.2
monai==1.3.0
mpmath==1.3.0
networkx==3.2.1
nibabel==5.2.1
ninja==1.11.1.1
-e git+https://github.com/bowang-lab/U-Mamba@28459e33ca03769800dd35e23c6e62491d1925b5#egg=nnunetv2&subdirectory=umamba
numpy==1.26.3
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
pillow==10.2.0
pydicom==3.0.1
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-gdcm==3.0.24.1
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.28.1
rich==13.9.4
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
shellingham==1.5.4
SimpleITK==2.4.0
six==1.16.0
sympy==1.12
threadpoolctl==3.5.0
tifffile==2024.8.30
tokenizers==0.19.1
torch==2.0.1+cu118
torchinfo==1.8.0
torchio==0.20.1
torchvision==0.15.2+cu118
tqdm==4.66.5
traceback2==1.4.0
transformers==4.44.2
triton==2.0.0
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.1
unittest2==1.1.0
urllib3==1.26.13
wrapt==1.16.0
yacs==0.1.8
